version: "3"

volumes:
  etc_pihole:
  etc_dnsmasq:

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8080:80/tcp"
      - "4430:443/tcp"
    environment:
      TZ: 'America/Chicago'
      PIHOLE_DNS_: '127.0.0.1#5053;8.8.8.8;8.8.4.4'
      # WEBPASSWORD: 'set a secure password here or it will be random'
    volumes:
       - 'etc_pihole:/etc/pihole/'
       - 'etc_dnsmasq:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    restart: unless-stopped